<ion-item *ngIf="news" [routerLink]="'/news/' + news.id" [detail]="false">
  <div slot="start" [class]="!news.read ? 'dot dot-unread' : 'dot'"></div>
  <ion-label class="ion-text-wrap">
    <h2>
      {{ news.title._text }}
      <span class="date">
        <ion-note>{{ news.pubDate._text }}</ion-note>
        <ion-icon name="chevron-forward" size="small" *ngIf="isIos()"></ion-icon>
      </span>
    </h2>
    <h3>{{ news.subject }}</h3>
    <div [innerHTML]="news.description._cdata.split('\n')[0]">
    </div>
  </ion-label>
  </ion-item>